.venv/
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.hypothesis/
.tox/
.nox/
.eggs/
*.egg-info/
build/
dist/
pip-wheel-metadata/
*.whl
*.log
.python-version
__pypackages__/
.env
.env.*
.direnv/
.idea/
.vscode/
.DS_Store
Thumbs.db
